* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./files/FUNDO.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.conteiner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 16px;
}

.botao {
    display: flex;
    align-self: flex-start;
}

.menu {
    display: flex;
    background: none;
    padding: 0;
    cursor: pointer;
    border: none;
    align-self: flex-start;
}

.busca {
    cursor: pointer;
    align-self: flex-start;
}