* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body  {
    background-image: url('./files/FUNDO.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
